body {
    background-color: #000000; 
    text-align: center; 
    padding-top: 100px;
    font-family: sans-serif;
}

.crystal-button {
    text-decoration: none;
    color: #f0f0f0;
    padding: 15px 40px;
    background-color: #89b02c;
    border: 2px solid #afce27c3;
    border-radius: 50px;
    transition: all 0.4s;
    
}

.crystal-button:hover{
    background-color: #6eac09;
    border:2px solid  #c3c910;
    color: white;
}

.crystal-button:active{
    background-color: #f0f0f0;
    border:2px solid #ffffff;
    color: #333;
}

